@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.navigation {
display: flex;
}

.navigation-logo {
  display: block;
  margin-left: 70px;
}

.navigation-list {
  width: 440px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 30px;
}

.navigation-user {
  max-width: 320px;
  margin-left: auto;
}

.navigation-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background: #756157;
  text-transform: uppercase;
  text-decoration: none;

}

.button-assistant {
  color: #ffffff;
  background: #82B3D3;
}

.result-button {
  color: #ffffff;
  background: #7DB54F;
}

.main-container {
  flex-grow: 1;
}

.hero-page {
  color: #756157;
  background-image: url("../images/divider-hero.svg"),url("../images/hero-main.jpg");
  background-color: #cbe0ea;
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-position: center, bottom;
}

.welcome-title {
  display: block;
  margin: 0 auto;
}


.heading-section {
font-size: 30px;
line-height: 36px;
font-weight: 700;
text-transform: uppercase;
}

.heading-part {
font-size: 24px;
line-height: 28px;
font-weight: 700;
text-transform: uppercase;
}
.text-block {
font-size: 18px;
line-height: 21px;
font-weight: 400;
}

.advantages-item-detail {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.subscribe {
  color: #FFFFFF;
  background-image: url("../images/subscribe.jpg");
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-phone {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.filter {
  color: #FFFFFF;
  background-image: url("../images/filter.jpg");
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
}


.breadcrumbs-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.hotel-name {
color: #000000;
text-decoration: none;
}

.hotel-rating {
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
}
