@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-container {
  flex-grow: 1;
}

.page-header{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 70px;
  margin-right: 70px;
}

.navigation-logo {
  display: block;
  margin-bottom: -6px;
  position: relative;
  z-index: 2;
}

.page-header-logo {
  vertical-align: top;
}

.navigation-list {
  max-width: 440px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.navigation-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #000000;
  display: block;
  padding: 20px 0;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-user-list {
  max-width: 320px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user-link {
  text-decoration: none;
  text-align: center;
  display: block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.search-link {
background-image: url(../images/search.svg);
}

.favorite-link {
  background-image: url(../images/heart.svg);
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 20px;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7DB54F;
}

.navigation-user-item {
  align-self: center;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 4px;
}

.button:hover {
  background: #615048;
}

.button:focus {
  background: #615048;
}

.button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user-button {
  margin-left: 20px;
  padding-left: 34px;
  padding-right: 34px;
}

.button-assistant {
  color: #ffffff;
  background: #82B3D3;
}

.button-assistant:hover {
  background: #68A2CA;
}

.button-assistant:focus {
  background: #68A2CA;
}

.button-assistant:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}


.result-button {
  color: #ffffff;
  background: #7DB54F;
}

.result-button:hover {
  background: #6C9E42;
}

.result-button:focus {
  background: #6C9E42;
}

.result-button:active{
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.hero-page {
  min-height: 485px;
  color: #756157;
  background-image: url("../images/divider-hero.svg"),url("../images/hero-main.jpg");
  background-color: #cbe0ea;
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  margin-bottom: 70px;
}

.welcome-title {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 25px;
}

.heading-section {
font-size: 30px;
line-height: 36px;
font-weight: 700;
text-align: center;
text-transform: uppercase;
margin: 0;
}

.subtitle {
font-size: 24px;
line-height: 28px;
font-weight: 700;
text-transform: uppercase;
text-align: center;
margin: 0;
}

.advantages {
  margin-bottom: 64px;
}

.advantages-subtitle {
  position: relative;
  margin-bottom: 62px;
}

.advantages-subtitle::after {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 60px;
  left: 50%;
  margin-left: -30px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages-detail .advantages-subtitle::after {
  background-color: rgba(255, 255, 255, 0.30);
}

.text-block {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.advantages-title {
  margin: 0;
  margin-bottom: 25px;
}

.advantages-desc {
  text-align: center;
  margin: 0;
  margin-bottom: 70px;
}


.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item:nth-child(2n) {
background-color: #83B3D31F;
}

.advantages-item:nth-child(2n+1) {
  background-color: #83B3D333;
  }

.advantages-list .advantages-detail {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 100%;
  min-height: 385px;
  display: flex;
  flex-wrap: wrap;
}

.advantages-detail-img {
  height: 100%;
  object-fit: cover;
}


.advantages-part {
  min-width: 230px;
  min-height: 200px;
  padding: 90px 85px;
  display: flex;
  flex-direction: column;
}

.service {
  margin-bottom: 96px;
}

.service-title {
  margin-bottom: 20px;
}

.service-desc {
  text-align: center;
  margin: 0;
  margin-bottom: 64px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.service-item {
  min-width: 230px;
  min-height: 200px;
  padding: 90px 85px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.service-subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  position: relative;
  padding-top: 105px;
}

.service-subtitle::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  background-repeat: no-repeat;
  margin-left: -38px;
  margin-top: -30px;
  width: 75px;
  height: 75px;
}

.service-house.service-subtitle::after {
  background-image: url(../images/service-icon-photo/service-icon-1.svg);
}

.service-food.service-subtitle::after {
  background-image: url(../images/service-icon-photo/service-icon-2.svg);
}

.service-souvenir.service-subtitle::after {
  background-image: url(../images/service-icon-photo/service-icon-3.svg);
}

.service-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 214px;
  margin-bottom: 96px;
}

.search-button {
  margin-top: auto;
  padding: 8px 50px;
}

.search-desc {
  text-align: center;
  margin: 0;
}


.subscribe {
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.subscribe-index {
  color: #FFFFFF;
  background-image: url("../images/subscribe.jpg");
  background-color: #84A8B6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 414px;
}

.subscribe-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  min-height: 214px;
  padding: 96px 0;
}


.subscribe-desc {
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  align-self: center;
}

.subscribe-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.button-subscribe {
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}

.subscribe-input-inner {
  background-color: #F2F2F2;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-link-vk {
  background-image: url(../images/social-icon/vk.svg);
}

.social-link-tg {
  background-image: url(../images/social-icon/telegram.svg);
}

.social-link-yt{
  background-image: url(../images/social-icon/youtube.svg);
}


.footer-phone {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.htmlacademy-link {
  margin-right: 70px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.filter {
  color: #FFFFFF;
  background-image: url("../images/filter.jpg");
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px;
  margin-bottom: 50px;
}

.catalog-filter {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 70px;

}

.catalog-filter-group {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 150px;
  font-size: 18px;
}

.result {
  width: 1060px;
  margin: 0 auto;
}

.result-header {
  display: flex;
  align-items: center;
  /* width: 1060px;
  margin: 0 auto; */
  margin-bottom: 40px;
}


.result-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.result-title {
  margin-right: auto;
}

.view-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: auto;
}

.view-button {
  display: block;
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.view-button-activ {
  border: 2px solid #000000;
}

.view-tile {
  background-image: url(../images/view-sort-images/view-sort-1.svg);
}

.view-slider {
  background-image: url(../images/view-sort-images/view-sort-2.svg);
}

.view-listing {
  background-image: url(../images/view-sort-images/view-sort-3.svg);
}


.result-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;
}

.result-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  gap: 16px 20px;
  max-width: 340px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.result-img {
  grid-column: span 2;
}

.heading-hotel {
  text-align: start;
}

.hotel-name {
color: #000000;
text-decoration: none;
grid-column: span 2;
}

.text-hotel {
  justify-self: start;
}

.hotel-price {
  justify-self: end;
}

.star {
  display: flex;
  gap: 8px;
  background-image: url(../images/star.svg);
  height: 17px;
  background-repeat: space repeat;
  background-position: left;
}

.star-4 {
  width: 78px;
}

.star-3 {
  width: 66px;
}

.star-2 {
  width: 42px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 8px 22px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link  {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 0 10px;
}

.pagination-item {
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-point {
  color: #000000;
  background-color: #FFFFFF;
}
