@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-container {
  flex-grow: 1;
}

.page-header{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-logo {
  display: block;
  margin-bottom: -6px;
  position: relative;
  z-index: 2;
}

.page-header-logo {
  vertical-align: top;
}

.navigation-list {
  max-width: 440px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #000000;
  display: block;
  padding: 20px 16px;
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #756257;
  left: 16px;
  right: 16px;
  bottom: 0;
}

.navigation-user-list {
  max-width: 320px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user-link {
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: end;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.search-link {
background-image: url(../images/search.svg);
}

.favorite-link {
  background-image: url(../images/heart.svg);
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7DB54F;
}

.navigation-user-item {
  align-self: center;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  box-sizing: border-box;
}

.button:hover {
  background: #615048;
}

.button:focus {
  background: #615048;
}

.button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user-button {
  margin-left: 20px;
  min-width: 160px;
}

.button-assistant {
  color: #ffffff;
  background: #82B3D3;
}

.button-assistant:hover {
  background: #68A2CA;
}

.button-assistant:focus {
  background: #68A2CA;
}

.button-assistant:active {
  background: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}


.result-button {
  color: #ffffff;
  background: #7DB54F;
}

.result-button:hover {
  background: #6C9E42;
}

.result-button:focus {
  background: #6C9E42;
}

.result-button:active{
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.hero-page {
  min-height: 485px;
  color: #756157;
  background-image: url("../images/divider-hero.svg"),url("../images/hero-main.jpg");
  background-color: #cbe0ea;
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
  padding: 52px 70px 25px;
  box-sizing: border-box;
}

.welcome-title {
  display: block;
  margin: 0 auto;
}

.heading-section {
font-size: 30px;
line-height: 36px;
font-weight: 700;
text-align: center;
text-transform: uppercase;
margin: 0;
}

.subtitle {
font-size: 24px;
line-height: 28px;
font-weight: 700;
text-transform: uppercase;
text-align: center;
margin: 0;
}


.text-block {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.advantages-block {
  display: grid;
  gap: 25px;
  padding: 69px 70px 90px;
  justify-items: center;
}

.advantages-desc {
display: block;
margin: 0;
}


.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item:nth-child(2n) {
background-color: #83B3D31F;
}

.advantages-item:nth-child(2n+1) {
  background-color: #83B3D333;
  }

.advantages-list .advantages-detail {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 100%;
  min-height: 385px;
  display: flex;
  flex-wrap: wrap;
}

.advantages-detail-img {
  height: 100%;
  object-fit: cover;
}

.advantages-part {
  width: 230px;
  min-height: 205px;
  padding: 90px 85px;
  display: grid;
  gap: 30px;
}

.advantages-subtitle::after {
  content: "";
  width: 60px;
  height: 2px;
  display: block;
  margin: 30px auto 0;
  background-color: rgba(0, 0, 0, 0.30);
}

.advantages-detail .advantages-subtitle::after {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantages-detail-reverse {
  flex-direction: row-reverse;
}


.service-block {
  display: grid;
  gap: 20px;
  padding: 64px 70px;
  justify-items: center;
}

.service-desc {
  display: block;
  margin: 0;
  }

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.service-item {
  min-width: 230px;
  min-height: 200px;
  padding: 90px 85px;
  display: grid;
  gap: 30px;
}

.service-item::before{
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 72px;
  width: 75px;
  margin: 0 auto;
}

.service-house::before {
  background-image: url(../images/service-icon-photo/service-icon-1.svg);
}

.service-food::before {
  background-image: url(../images/service-icon-photo/service-icon-2.svg);
}

.service-souvenir::before {
  background-image: url(../images/service-icon-photo/service-icon-3.svg);
}

.service-subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.service-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 96px 70px;
  min-height: 214px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  margin-top: auto;
  min-width: 376px;
}

.search-desc {
  text-align: center;
  margin: 0;
}


.subscribe {
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.subscribe-index {
  color: #FFFFFF;
  background-image: url("../images/subscribe.jpg");
  background-color: #84A8B6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  min-height: 214px;
  padding: 96px 70px 104px;
}


.subscribe-desc {
  text-align: center;
  margin: 0;
}

.subscribe-form {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: auto;
}

.subscribe-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: #000000;
  border: none;
  border-radius: 4px 0 0 4px;
  min-width: 452px;
  height: 100%;
  padding: 14px 20px;
  box-sizing: border-box;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  min-width: 232px;
  max-width: 320px;
}

.subscribe-input-inner {
  background-color: #F2F2F2;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}

.social-link {
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
}
.social-link {
  color: #83B3D3;
}
.social-link:hover {
  color: #68A2CA;
}

.social-link:focus {
  color: #68A2CA;
}

.social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  display: block;
  margin: 0;
  padding: 0;
}


.htmlacademy-link-svg {
  fill: #000000;
}

.htmlacademy-link:hover path {
  fill: #756157;
}

.htmlacademy-link:focus path  {
  fill: #756157;
}

.htmlacademy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.filter {
  color: #FFFFFF;
  background-image: url("../images/filter.jpg");
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px;
  margin-bottom: 50px;
}

.filter-title {
  font-family: inherit;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding: 8px 0 10px;
}

.breadcrumbs-item {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  background-image: url(../images/arrow-icon.svg);
  background-repeat: no-repeat;

  width: 8px;
  height: 10px;
  background-position: left center;
}

.breadcrumbs-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-link-home {
  display: block;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  background-image: url(../images/home-icon.svg);
  background-repeat: no-repeat;
  align-self: center;
}


.catalog-filter {
  margin: 0;
  padding: 30px 0 35px;
  list-style-type: none;
  display: flex;
  gap: 70px;

}

.catalog-filter-group {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  margin-bottom: 32px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 150px;
  font-size: 18px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked {
  background-image: url(../images/check-filter.svg);
  background-repeat: no-repeat;
}

.control-mark-chekbox {
  border-radius: 50%;
}

.result {
  display: grid;
  gap: 40px;
  padding: 50px 70px 60px;
}


.result-header {
  display: flex;
  align-items: center;
  order: -3;
}

.result-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.result-title {
  margin-right: auto;
}

.view-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: auto;
}

.view-button {
  display: block;
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.view-button-active {
  border: 2px solid #000000;
}

.view-button-tile {
  background-image: url(../images/view-sort-images/view-sort-1.svg);
}

.view-button-slider {
  background-image: url(../images/view-sort-images/view-sort-2.svg);
}

.view-button-listing {
  background-image: url(../images/view-sort-images/view-sort-3.svg);
}


.result-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  order: -2;
}


.result-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  gap: 16px 20px;
  max-width: 340px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.result-img {
  grid-column: span 2;
}

.heading-hotel {
  text-align: start;
}

.hotel-name {
color: #000000;
text-decoration: none;
grid-column: span 2;
}

.text-hotel {
  justify-self: start;
}

.hotel-price {
  justify-self: end;
}

.star {
  display: flex;
  gap: 8px;
  background-image: url(../images/star.svg);
  height: 17px;
  background-repeat: space repeat;
  background-position: left;
}

.star-4 {
  width: 78px;
}

.star-3 {
  width: 66px;
}

.star-2 {
  width: 42px;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 8px 22px;
}

.result::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #E6E6E6;
  background-position: center;
  margin: 0 auto;
  width: 100%;
  order: -1;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  order: 0;
}


.pagination-link  {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 0 10px;
}

.pagination-item {
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-point {
  color: #000000;
  background-color: #FFFFFF;
}
