@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;

  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
}

.navigation-link {
  font-family: inherit;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-align: center;

}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756157;
  text-align: center;
}

.button-assistant {
  color: #ffffff;
  background: #82B3D3;
}

.result-button {
  color: #ffffff;
  background: #7DB54F;
}

.hero-page {
  color: #756157;
  background-image: url("../images/divider-hero.svg"),url("../images/hero-main.jpg");
  background-color: #cbe0ea;
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-position: center, bottom;
}

.heading-section {
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
}

.heading-part {
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-transform: uppercase;
}
.text-block {
font-size: 18px;
font-weight: 400;
line-height: 21px;
}

.advantages-item-detail {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.subscribe {
  color: #FFFFFF;
  background-image: url("../images/subscribe.jpg");
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-phone {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.filter {
  color: #FFFFFF;
  background-image: url("../images/filter.jpg");
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
}


.breadcrumbs-link {
  font-family: inherit;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
}

.hotel-name {
color: #000000;
text-decoration: none;
}

.hotel-rating {
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
}
